openapi: 3.1.0
x-stoplight:
  id: 1x02z7voq3jqn
info:
  title: IRIS
  version: 2.0.2
  description: |
    ## IRIS API 
    To use these API endpoint, an API key is needed and can be found in every user profile under `My settings` > `API Key`. 
    This specification applies to v2.1.0 > Iris > v2.3.7. The supported API version can be checked in `Advanced` > `Server settings` > `Server versions` on IRIS.   
    The API port is the same as the one used for the web interface, so `443` by default.  
     
    ## Changes
    ### Changes in v2.0.0
    This version introduces access control. Every request now needs to have the `cid=x` parameter in the URI.  
    Deletion endpoints have been migrated from `GET` to `POST`. Deletion GET endpoints have been marqued as `deprecated` and are not available anymore.  

    ### Changes in v1.4.5
    v1.4.5 introduced the concept of custom attributes. These JSON objects that are stored into almost all case objects such as Assets, IOCs, etc. They are defined by administrators or modules and can vary from one objet to another despite being of the same type.  Because of this, no definitive structure can be expected from these fields. They are all named ``custom_attributes``. 
  contact:
    name: DFIR-IRIS
    email: contact@dfir-iris.org
    url: 'https://docs.dfir-iris.org/contact/'
  license:
    name: LGPLv3
servers:
  - url: 'https://v200.beta.dfir-iris.org'
    description: Demo instance
  - url: 'https://127.0.0.1'
    description: Local instance
  - url: 'http://127.0.0.1:8000'
    description: Local debug
paths:
  /case/summary/update:
    parameters: []
    post:
      summary: Update case summary
      operationId: post-case-summary-update
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    data: 3837413706
                    message: Summary updated
                    status: success
                properties:
                  data:
                    type: integer
                    description: CRC32 of the summary
                  message:
                    type: string
                  status:
                    type: string
              examples:
                Success:
                  value:
                    data: 3837413706
                    message: Summary updated
                    status: success
      description: |-
        Update the summary of a case. Carefull: this will trigger an overwrite of the summary. Summaries are shared interactively between users. If an update summary is issued, every user will receive the change and their locale changes will be lost.  
        The summary is a markdown-compatible text. 
      parameters:
        - schema:
            type: string
          in: query
          name: cid
          description: Case ID
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                case_description:
                  type: string
                  description: The updated summary
              required:
                - case_description
            examples:
              example-1:
                value:
                  case_description: Dummy description
                  cid: 1
      security:
        - Bearer <bearer>: []
      tags:
        - Case general
  /case/tasklog/add:
    parameters: []
    post:
      summary: Add task log
      operationId: post-case-add-tasklog
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    data:
                      activity_date: 'Fri, 21 Jan 2022 17:33:48 GMT'
                      activity_desc: A test
                      case: null
                      case_id: 1
                      id: 21632
                      user: null
                      user_id: 1
                      user_input: true
                    message: Log saved
                    status: success
                properties:
                  data:
                    type: object
                    required:
                      - activity_date
                      - activity_desc
                      - case_id
                      - id
                      - user_id
                      - user_input
                    properties:
                      activity_date:
                        type: string
                        minLength: 1
                      activity_desc:
                        type: string
                        minLength: 1
                      case: {}
                      case_id:
                        type: number
                      id:
                        type: number
                      user: {}
                      user_id:
                        type: number
                      user_input:
                        type: boolean
                  message:
                    type: string
                    minLength: 1
                  status:
                    type: string
                    minLength: 1
                required:
                  - data
                  - message
                  - status
              examples:
                Success:
                  value:
                    data:
                      activity_date: 'Fri, 21 Jan 2022 17:33:48 GMT'
                      activity_desc: A test
                      case: null
                      case_id: 1
                      id: 21632
                      user: null
                      user_id: 1
                      user_input: true
                    message: Log saved
                    status: success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    data:
                      log_cotent:
                        - Unknown field.
                    message: Data error
                    status: error
                properties:
                  data:
                    type: object
                  message:
                    type: string
                    minLength: 1
                  status:
                    type: string
                    minLength: 1
                required:
                  - data
                  - message
                  - status
              examples:
                Unknown field:
                  value:
                    data:
                      log_cotent:
                        - Unknown field.
                    message: Data error
                    status: error
                Empty log:
                  value:
                    data:
                      log_content:
                        - Shorter than minimum length 1.
                    message: Data error
                    status: error
      description: |-
        Add a task log to the case. The task log is registered under Activities and is be availble in reports templating. 
        If CID is omitted, the default case of the calling user is used. 
      parameters:
        - schema:
            type: string
          in: query
          name: cid
          description: Case ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                log_content:
                  type: string
              required:
                - log_content
            examples:
              'Example 1 ':
                value:
                  log_content: A test
      security:
        - Bearer <bearer>: []
      tags:
        - Case general
  /case/export:
    get:
      summary: Export a case as JSON
      operationId: get-case-export
      description: |-
        Export a case in JSON format including all the information such as assets, iocs, etc. This request can take a very long time depending on the size of the case.  
        The datastore is not part of the response and needs to be requested manually.     
      security:
        - Bearer <bearer>: []
      parameters:
        - schema:
            type: string
          in: query
          name: cid
          description: ID Of the case to export
          required: true
      tags:
        - Case general
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      case:
                        type: object
                        properties:
                          name:
                            type: string
                          open_date:
                            type: string
                          description:
                            type: string
                          soc_id:
                            type: string
                          opened_by:
                            type: string
                          for_customer:
                            type: string
                          close_date:
                            type: 'null'
                          custom_attributes:
                            type: 'null'
                          case_id:
                            type: integer
                          case_uuid:
                            type: string
                          status_id:
                            type: integer
                          status_name:
                            type: string
                      evidences:
                        type: array
                        items:
                          type: object
                          properties:
                            filename:
                              type: string
                            date_added:
                              type: string
                            file_hash:
                              type: string
                            added_by:
                              type: string
                            custom_attributes:
                              type: object
                              properties: {}
                            file_uuid:
                              type: string
                            id:
                              type: integer
                            file_size:
                              type: integer
                      timeline:
                        type: array
                        items:
                          type: object
                          properties:
                            event_id:
                              type: integer
                            event_title:
                              type: string
                            event_in_summary:
                              type: boolean
                            event_date:
                              type: string
                            event_tz:
                              type: string
                            event_date_wtz:
                              type: string
                            event_content:
                              type: string
                            event_tags:
                              type: string
                            event_source:
                              type: string
                            event_raw:
                              type: string
                            custom_attributes:
                              type: object
                              properties: {}
                            category:
                              type: string
                            last_edited_by:
                              type: string
                            event_uuid:
                              type: string
                            event_in_graph:
                              type: boolean
                            event_color:
                              type: string
                            event_is_flagged:
                              type: boolean
                            assets:
                              type: array
                              items:
                                type: string
                            iocs:
                              type: array
                              items:
                                type: object
                                properties:
                                  ioc_id:
                                    type: integer
                                  ioc_value:
                                    type: string
                                  ioc_description:
                                    type: string
                                  tlp_name:
                                    type: string
                                  type:
                                    type: string
                      iocs:
                        type: array
                        items:
                          type: object
                          properties:
                            ioc_value:
                              type: string
                            type_name:
                              type: string
                            ioc_tags:
                              type: string
                            ioc_description:
                              type: string
                            custom_attributes:
                              type: object
                              properties: {}
                            ioc_id:
                              type: integer
                            ioc_uuid:
                              type: string
                            tlp_name:
                              type: string
                            added_by:
                              type: string
                      assets:
                        type: array
                        items:
                          type: object
                          properties:
                            asset_id:
                              type: integer
                            asset_uuid:
                              type: string
                            asset_name:
                              type: string
                            asset_description:
                              type: string
                            asset_compromise_status_id:
                              type: integer
                            type:
                              type: string
                            analysis_status:
                              type: string
                            date_added:
                              type: string
                            asset_domain:
                              type: string
                            asset_ip:
                              type: string
                            asset_info:
                              type: string
                            asset_tags:
                              type: string
                            custom_attributes:
                              type: object
                              properties: {}
                            light_asset_description:
                              type: string
                            asset_ioc:
                              type: array
                              items:
                                type: object
                                properties:
                                  ioc_value:
                                    type: string
                                  type_name:
                                    type: string
                                  ioc_description:
                                    type: string
                            asset_compromise_status:
                              type: string
                      tasks:
                        type: array
                        items:
                          type: object
                          properties:
                            task_title:
                              type: string
                            task_status:
                              type: string
                            task_tags:
                              type: string
                            task_open_date:
                              type: string
                            task_close_date:
                              type: 'null'
                            task_last_update:
                              type: string
                            task_description:
                              type: string
                            custom_attributes:
                              type: object
                              properties: {}
                            task_uuid:
                              type: string
                            id:
                              type: integer
                            task_assignees:
                              type: array
                              items:
                                type: object
                                properties:
                                  user:
                                    type: string
                                  name:
                                    type: string
                                  id:
                                    type: integer
                      comments:
                        type: array
                        items:
                          type: object
                          properties: {}
                      notes:
                        type: array
                        items:
                          type: object
                          properties:
                            note_title:
                              type: string
                            note_content:
                              type: string
                            note_creationdate:
                              type: string
                            note_lastupdate:
                              type: string
                            custom_attributes:
                              type: object
                              properties: {}
                            note_id:
                              type: integer
                            note_uuid:
                              type: string
                            group_title:
                              type: string
                            group_id:
                              type: integer
                            group_user:
                              type: integer
                      export_date:
                        type: string
                x-examples:
                  Example 1:
                    status: success
                    message: ''
                    data:
                      case:
                        name: '#1 - Initial Demo'
                        open_date: '2023-11-29'
                        description: Dummy description
                        soc_id: soc_id_demo
                        opened_by: administrator
                        for_customer: IrisInitialClient
                        close_date: null
                        custom_attributes: null
                        case_id: 1
                        case_uuid: da80a133-d3c2-40bd-a0ba-8966ef7679a3
                        status_id: 0
                        status_name: unknown
                      evidences:
                        - filename: A super evidence
                          date_added: '2023-11-29T15:52:11.216704'
                          file_hash: dhjajhdkadqw
                          added_by: administrator
                          custom_attributes: {}
                          file_uuid: 6287ebbc-4332-4f37-b8d8-c9e70e238c08
                          id: 1
                          file_size: 0
                      timeline:
                        - event_id: 2
                          event_title: A second event
                          event_in_summary: true
                          event_date: '2023-11-03T23:03:00.003000'
                          event_tz: '+01:00'
                          event_date_wtz: '2023-11-04T00:03:00.003000'
                          event_content: Super event
                          event_tags: logs
                          event_source: MySource
                          event_raw: Raw event log
                          custom_attributes: {}
                          category: Command and Control
                          last_edited_by: administrator
                          event_uuid: 7c8a624f-6017-4ccd-a93f-7ef702cc24dd
                          event_in_graph: true
                          event_color: '#F2596199'
                          event_is_flagged: false
                          assets:
                            - LinuxServer (Linux - Server)
                            - main_router (Router)
                          iocs:
                            - ioc_id: 1
                              ioc_value: root
                              ioc_description: ''
                              tlp_name: amber
                              type: account
                        - event_id: 3
                          event_title: 'A third event '
                          event_in_summary: true
                          event_date: '2023-11-03T23:03:00.003000'
                          event_tz: '+01:00'
                          event_date_wtz: '2023-11-04T00:03:00.003000'
                          event_content: Super event
                          event_tags: logs
                          event_source: MySource
                          event_raw: Raw event log
                          custom_attributes: {}
                          category: Command and Control
                          last_edited_by: administrator
                          event_uuid: 7c8a624f-6017-4ccd-a93f-7ef702cc24dd
                          event_in_graph: true
                          event_color: '#F2596199'
                          event_is_flagged: false
                          assets:
                            - LinuxServer (Linux - Server)
                            - main_router (Router)
                          iocs:
                            - ioc_id: 1
                              ioc_value: root
                              ioc_description: ''
                              tlp_name: amber
                              type: account
                        - event_id: 1
                          event_title: 'An event '
                          event_in_summary: true
                          event_date: '2023-11-09T23:03:00.003000'
                          event_tz: '+01:00'
                          event_date_wtz: '2023-11-10T00:03:00.003000'
                          event_content: Super event
                          event_tags: logs
                          event_source: MySource
                          event_raw: Raw event log
                          custom_attributes: {}
                          category: Command and Control
                          last_edited_by: administrator
                          event_uuid: 7c8a624f-6017-4ccd-a93f-7ef702cc24dd
                          event_in_graph: true
                          event_color: '#48ABF799'
                          event_is_flagged: false
                          assets:
                            - LinuxServer (Linux - Server)
                            - main_router (Router)
                          iocs:
                            - ioc_id: 1
                              ioc_value: root
                              ioc_description: ''
                              tlp_name: amber
                              type: account
                      iocs:
                        - ioc_value: root
                          type_name: account
                          ioc_tags: router
                          ioc_description: ''
                          custom_attributes: {}
                          ioc_id: 1
                          ioc_uuid: 94188da2-ca10-4299-ad73-0689719a61c3
                          tlp_name: amber
                          added_by: administrator
                      assets:
                        - asset_id: 1
                          asset_uuid: 4c8211fb-676e-4d84-9164-2c62d2c82558
                          asset_name: LinuxServer
                          asset_description: 'The super service   '
                          asset_compromise_status_id: 2
                          type: Linux - Server
                          analysis_status: Canceled
                          date_added: '2023-11-29T15:40:13.759084'
                          asset_domain: local.local
                          asset_ip: 127.0.0.1
                          asset_info: ''
                          asset_tags: test
                          custom_attributes: {}
                          light_asset_description: 'The super service   '
                          asset_ioc:
                            - ioc_value: root
                              type_name: account
                              ioc_description: ''
                          asset_compromise_status: Not Compromised
                        - asset_id: 2
                          asset_uuid: 7371f6fd-17dc-42d7-b21b-43824b71abb3
                          asset_name: main_router
                          asset_description: ''
                          asset_compromise_status_id: 1
                          type: Router
                          analysis_status: To be done
                          date_added: '2023-11-29T15:40:41.128370'
                          asset_domain: local.local
                          asset_ip: 192.168.1.3
                          asset_info: ''
                          asset_tags: router
                          custom_attributes: {}
                          light_asset_description: ''
                          asset_ioc:
                            - ioc_value: root
                              type_name: account
                              ioc_description: ''
                          asset_compromise_status: Compromised
                      tasks:
                        - task_title: A task
                          task_status: In progress
                          task_tags: task1
                          task_open_date: '2023-11-29T15:48:49.811798'
                          task_close_date: null
                          task_last_update: '2023-11-29T15:48:49.811798'
                          task_description: 'Task description    '
                          custom_attributes: {}
                          task_uuid: 0693c71b-b4f7-41cd-a12a-0dcd24519e7f
                          id: 1
                          task_assignees:
                            - user: administrator
                              name: administrator
                              id: 1
                        - task_title: Another task
                          task_status: To do
                          task_tags: tas
                          task_open_date: '2023-11-29T15:49:09.053863'
                          task_close_date: null
                          task_last_update: '2023-11-29T15:49:09.053863'
                          task_description: Another task description
                          custom_attributes: {}
                          task_uuid: 6d27e7f2-3310-454e-aebf-00432ebbfb2d
                          id: 2
                          task_assignees:
                            - user: administrator
                              name: administrator
                              id: 1
                      comments: []
                      notes:
                        - note_title: Something else
                          note_content: A nother note content
                          note_creationdate: '2023-11-29T15:39:02.056124'
                          note_lastupdate: '2023-11-29T15:39:30.039339'
                          custom_attributes: {}
                          note_id: 1
                          note_uuid: 71a50086-2b11-4d80-8916-e94bd93ad28b
                          group_title: A note group A
                          group_id: 1
                          group_user: 1
                        - note_title: And another thing
                          note_content: A note content
                          note_creationdate: '2023-11-29T15:39:11.127181'
                          note_lastupdate: '2023-11-29T15:39:23.065014'
                          custom_attributes: {}
                          note_id: 2
                          note_uuid: 641943a8-767a-4789-a02c-1475243cbb37
                          group_title: A note group B
                          group_id: 2
                          group_user: 1
                      export_date: '2023-11-29T15:52:18.839881'
              examples:
                Example 1:
                  value:
                    status: success
                    message: ''
                    data:
                      case:
                        name: '#1 - Initial Demo'
                        open_date: '2023-11-29'
                        description: Dummy description
                        soc_id: soc_id_demo
                        opened_by: administrator
                        for_customer: IrisInitialClient
                        close_date: null
                        custom_attributes: null
                        case_id: 1
                        case_uuid: da80a133-d3c2-40bd-a0ba-8966ef7679a3
                        status_id: 0
                        status_name: unknown
                      evidences:
                        - filename: A super evidence
                          date_added: '2023-11-29T15:52:11.216704'
                          file_hash: dhjajhdkadqw
                          added_by: administrator
                          custom_attributes: {}
                          file_uuid: 6287ebbc-4332-4f37-b8d8-c9e70e238c08
                          id: 1
                          file_size: 0
                      timeline:
                        - event_id: 2
                          event_title: A second event
                          event_in_summary: true
                          event_date: '2023-11-03T23:03:00.003000'
                          event_tz: '+01:00'
                          event_date_wtz: '2023-11-04T00:03:00.003000'
                          event_content: Super event
                          event_tags: logs
                          event_source: MySource
                          event_raw: Raw event log
                          custom_attributes: {}
                          category: Command and Control
                          last_edited_by: administrator
                          event_uuid: 7c8a624f-6017-4ccd-a93f-7ef702cc24dd
                          event_in_graph: true
                          event_color: '#F2596199'
                          event_is_flagged: false
                          assets:
                            - LinuxServer (Linux - Server)
                            - main_router (Router)
                          iocs:
                            - ioc_id: 1
                              ioc_value: root
                              ioc_description: ''
                              tlp_name: amber
                              type: account
                        - event_id: 3
                          event_title: 'A third event '
                          event_in_summary: true
                          event_date: '2023-11-03T23:03:00.003000'
                          event_tz: '+01:00'
                          event_date_wtz: '2023-11-04T00:03:00.003000'
                          event_content: Super event
                          event_tags: logs
                          event_source: MySource
                          event_raw: Raw event log
                          custom_attributes: {}
                          category: Command and Control
                          last_edited_by: administrator
                          event_uuid: 7c8a624f-6017-4ccd-a93f-7ef702cc24dd
                          event_in_graph: true
                          event_color: '#F2596199'
                          event_is_flagged: false
                          assets:
                            - LinuxServer (Linux - Server)
                            - main_router (Router)
                          iocs:
                            - ioc_id: 1
                              ioc_value: root
                              ioc_description: ''
                              tlp_name: amber
                              type: account
                        - event_id: 1
                          event_title: 'An event '
                          event_in_summary: true
                          event_date: '2023-11-09T23:03:00.003000'
                          event_tz: '+01:00'
                          event_date_wtz: '2023-11-10T00:03:00.003000'
                          event_content: Super event
                          event_tags: logs
                          event_source: MySource
                          event_raw: Raw event log
                          custom_attributes: {}
                          category: Command and Control
                          last_edited_by: administrator
                          event_uuid: 7c8a624f-6017-4ccd-a93f-7ef702cc24dd
                          event_in_graph: true
                          event_color: '#48ABF799'
                          event_is_flagged: false
                          assets:
                            - LinuxServer (Linux - Server)
                            - main_router (Router)
                          iocs:
                            - ioc_id: 1
                              ioc_value: root
                              ioc_description: ''
                              tlp_name: amber
                              type: account
                      iocs:
                        - ioc_value: root
                          type_name: account
                          ioc_tags: router
                          ioc_description: ''
                          custom_attributes: {}
                          ioc_id: 1
                          ioc_uuid: 94188da2-ca10-4299-ad73-0689719a61c3
                          tlp_name: amber
                          added_by: administrator
                      assets:
                        - asset_id: 1
                          asset_uuid: 4c8211fb-676e-4d84-9164-2c62d2c82558
                          asset_name: LinuxServer
                          asset_description: 'The super service   '
                          asset_compromise_status_id: 2
                          type: Linux - Server
                          analysis_status: Canceled
                          date_added: '2023-11-29T15:40:13.759084'
                          asset_domain: local.local
                          asset_ip: 127.0.0.1
                          asset_info: ''
                          asset_tags: test
                          custom_attributes: {}
                          light_asset_description: 'The super service   '
                          asset_ioc:
                            - ioc_value: root
                              type_name: account
                              ioc_description: ''
                          asset_compromise_status: Not Compromised
                        - asset_id: 2
                          asset_uuid: 7371f6fd-17dc-42d7-b21b-43824b71abb3
                          asset_name: main_router
                          asset_description: ''
                          asset_compromise_status_id: 1
                          type: Router
                          analysis_status: To be done
                          date_added: '2023-11-29T15:40:41.128370'
                          asset_domain: local.local
                          asset_ip: 192.168.1.3
                          asset_info: ''
                          asset_tags: router
                          custom_attributes: {}
                          light_asset_description: ''
                          asset_ioc:
                            - ioc_value: root
                              type_name: account
                              ioc_description: ''
                          asset_compromise_status: Compromised
                      tasks:
                        - task_title: A task
                          task_status: In progress
                          task_tags: task1
                          task_open_date: '2023-11-29T15:48:49.811798'
                          task_close_date: null
                          task_last_update: '2023-11-29T15:48:49.811798'
                          task_description: 'Task description    '
                          custom_attributes: {}
                          task_uuid: 0693c71b-b4f7-41cd-a12a-0dcd24519e7f
                          id: 1
                          task_assignees:
                            - user: administrator
                              name: administrator
                              id: 1
                        - task_title: Another task
                          task_status: To do
                          task_tags: tas
                          task_open_date: '2023-11-29T15:49:09.053863'
                          task_close_date: null
                          task_last_update: '2023-11-29T15:49:09.053863'
                          task_description: Another task description
                          custom_attributes: {}
                          task_uuid: 6d27e7f2-3310-454e-aebf-00432ebbfb2d
                          id: 2
                          task_assignees:
                            - user: administrator
                              name: administrator
                              id: 1
                      comments: []
                      notes:
                        - note_title: Something else
                          note_content: A nother note content
                          note_creationdate: '2023-11-29T15:39:02.056124'
                          note_lastupdate: '2023-11-29T15:39:30.039339'
                          custom_attributes: {}
                          note_id: 1
                          note_uuid: 71a50086-2b11-4d80-8916-e94bd93ad28b
                          group_title: A note group A
                          group_id: 1
                          group_user: 1
                        - note_title: And another thing
                          note_content: A note content
                          note_creationdate: '2023-11-29T15:39:11.127181'
                          note_lastupdate: '2023-11-29T15:39:23.065014'
                          custom_attributes: {}
                          note_id: 2
                          note_uuid: 641943a8-767a-4789-a02c-1475243cbb37
                          group_title: A note group B
                          group_id: 2
                          group_user: 1
                      export_date: '2023-11-29T15:52:18.839881'
        '':
          description: A full export of the case without the files in the datastore
    parameters: []
  /case/assets/list:
    get:
      summary: Get list of assets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      assets:
                        type: array
                        items:
                          type: object
                          properties:
                            asset_id:
                              type: integer
                            asset_uuid:
                              type: string
                            asset_name:
                              type: string
                            asset_type:
                              type: string
                            asset_icon_compromised:
                              type: string
                            asset_icon_not_compromised:
                              type: string
                            asset_description:
                              type: string
                            asset_domain:
                              type: string
                            asset_compromise_status_id:
                              type:
                                - integer
                                - 'null'
                            asset_ip:
                              type: string
                            asset_type_id:
                              type: integer
                            analysis_status:
                              type: string
                            analysis_status_id:
                              type: integer
                            asset_tags:
                              type: string
                            link:
                              type: array
                              items:
                                type: object
                                properties: {}
                            ioc_links:
                              type:
                                - array
                                - 'null'
                              items:
                                type: object
                                properties:
                                  ioc_id:
                                    type: integer
                                  ioc_value:
                                    type: string
                                  asset_id:
                                    type: integer
                      state:
                        type: object
                        properties:
                          object_state:
                            type: integer
                          object_last_update:
                            type: string
                x-examples:
                  Example 1:
                    status: success
                    message: ''
                    data:
                      assets:
                        - asset_id: 57
                          asset_uuid: c6598fd0-836a-4fc4-87c1-6f03348eadeb
                          asset_name: FILESERVER1231
                          asset_type: Windows - Server
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: ''
                          asset_domain: ''
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 10
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 79
                          asset_uuid: 0955016b-c1aa-44e1-a5c6-0b538eac7d9f
                          asset_name: Test_DFIR
                          asset_type: Account
                          asset_icon_compromised: ioc_user.png
                          asset_icon_not_compromised: user.png
                          asset_description: ''
                          asset_domain: example.com
                          asset_compromise_status_id: 1
                          asset_ip: 1.1.1.1
                          asset_type_id: 1
                          analysis_status: Started
                          analysis_status_id: 3
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 82
                          asset_uuid: 305c5569-b818-4518-b7cd-cfd07a1033ca
                          asset_name: DC01
                          asset_type: Windows - DC
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: ''
                          asset_domain: domain.local
                          asset_compromise_status_id: 0
                          asset_ip: 10.0.0.8
                          asset_type_id: 11
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: ''
                          link:
                            - case_name: '#583 -  [ALERT] VPN Exploit 1208'
                              case_open_date: '2023-08-28'
                              asset_description: ''
                              asset_compromise_status_id: 2
                              asset_id: 3822
                              case_id: 583
                          ioc_links: null
                        - asset_id: 36
                          asset_uuid: 3b16900a-72a2-46f2-a4e9-880de044c2ad
                          asset_name: User1_FRZ
                          asset_type: Firewall
                          asset_icon_compromised: ioc_firewall.png
                          asset_icon_not_compromised: firewall.png
                          asset_description: ''
                          asset_domain: ''
                          asset_compromise_status_id: 1
                          asset_ip: ''
                          asset_type_id: 2
                          analysis_status: Pending
                          analysis_status_id: 4
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 3723
                          asset_uuid: 82c5f2a8-a050-4c23-9616-f5d6713bcf1e
                          asset_name: DE100
                          asset_type: Router
                          asset_icon_compromised: ioc_router.png
                          asset_icon_not_compromised: router.png
                          asset_description: Deutsh router
                          asset_domain: ''
                          asset_compromise_status_id: 1
                          asset_ip: 1.1.1.1
                          asset_type_id: 12
                          analysis_status: Pending
                          analysis_status_id: 4
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 3777
                          asset_uuid: e43b9a3d-37d6-4034-a5ff-2c5252ca9e33
                          asset_name: user1
                          asset_type: Account
                          asset_icon_compromised: ioc_user.png
                          asset_icon_not_compromised: user.png
                          asset_description: 'user account '
                          asset_domain: ''
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 1
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 3706
                          asset_uuid: 8d04103e-dcfc-40c6-b9d9-f84a77dd823c
                          asset_name: ad v mojej domene
                          asset_type: Windows Account - AD
                          asset_icon_compromised: ioc_user.png
                          asset_icon_not_compromised: user.png
                          asset_description: domenovy dacid c 1
                          asset_domain: pravda.sk
                          asset_compromise_status_id: 3
                          asset_ip: 195.28.85.54
                          asset_type_id: 18
                          analysis_status: Started
                          analysis_status_id: 3
                          asset_tags: pravda.sk
                          link: []
                          ioc_links: null
                        - asset_id: 38
                          asset_uuid: 97eaf383-50d6-4f6f-9649-51dc8560fd41
                          asset_name: EndpointDevice1
                          asset_type: Windows - Computer
                          asset_icon_compromised: ioc_windows_desktop.png
                          asset_icon_not_compromised: windows_desktop.png
                          asset_description: ''
                          asset_domain: ''
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 9
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 47
                          asset_uuid: ba08841b-80c2-4b55-b296-77f27630d55c
                          asset_name: DC01
                          asset_type: Windows - DC
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: |-
                            ![saml.png](/datastore/file/view/3?cid=1 =40%x40%) 

                            <test><script>
                            # Test 
                            Description and analysis of the machine 
                            Some other things to do


                            ## Another test 
                            And again another testing 

                            ### And yet again another test
                            Or something else you wanna do 
                          asset_domain: acme.local
                          asset_compromise_status_id: 1
                          asset_ip: 192.168.0.1
                          asset_type_id: 11
                          analysis_status: To be done
                          analysis_status_id: 2
                          asset_tags: 1.3.4.2
                          link:
                            - case_name: '#583 -  [ALERT] VPN Exploit 1208'
                              case_open_date: '2023-08-28'
                              asset_description: ''
                              asset_compromise_status_id: 2
                              asset_id: 3822
                              case_id: 583
                          ioc_links: null
                        - asset_id: 37
                          asset_uuid: 7a0278a2-618d-461e-921e-7cbc0bad3004
                          asset_name: User2
                          asset_type: Account
                          asset_icon_compromised: ioc_user.png
                          asset_icon_not_compromised: user.png
                          asset_description: ''
                          asset_domain: ''
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 1
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 3749
                          asset_uuid: e4ca3e33-28f0-43f4-8c68-a79949a9fbb0
                          asset_name: DC03
                          asset_type: Windows - DC
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: Das sind DC
                          asset_domain: NORTH
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 11
                          analysis_status: To be done
                          analysis_status_id: 2
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 3750
                          asset_uuid: 34dba357-7983-4eec-8627-30a5f2b48cc4
                          asset_name: DC01
                          asset_type: Windows - DC
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: Das sind DC
                          asset_domain: NORTH
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 11
                          analysis_status: To be done
                          analysis_status_id: 2
                          asset_tags: ''
                          link:
                            - case_name: '#583 -  [ALERT] VPN Exploit 1208'
                              case_open_date: '2023-08-28'
                              asset_description: ''
                              asset_compromise_status_id: 2
                              asset_id: 3822
                              case_id: 583
                          ioc_links: null
                        - asset_id: 2429
                          asset_uuid: 1a9201a9-8d03-44b3-a47a-16c9a780849e
                          asset_name: Phone - IOS-4869
                          asset_type: Phone - IOS
                          asset_icon_compromised: ioc_phone.png
                          asset_icon_not_compromised: phone.png
                          asset_description: Asset description
                          asset_domain: ''
                          asset_compromise_status_id: null
                          asset_ip: 1.1.1.1
                          asset_type_id: 8
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: 'tag1,tag2'
                          link: []
                          ioc_links:
                            - ioc_id: 407
                              ioc_value: ec3e51e46aae
                              asset_id: 2429
                            - ioc_id: 788
                              ioc_value: bsaoln.gov
                              asset_id: 2429
                        - asset_id: 3872
                          asset_uuid: 11925eb0-b205-419f-81cf-fe550a6a6986
                          asset_name: trreeree
                          asset_type: Windows - Computer
                          asset_icon_compromised: ioc_windows_desktop.png
                          asset_icon_not_compromised: windows_desktop.png
                          asset_description: ''
                          asset_domain: ''
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 9
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 3881
                          asset_uuid: 9a911ef8-3f40-4aaa-a6e0-4ea880bf8d49
                          asset_name: DCSERER.com
                          asset_type: Windows - DC
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: thsis is DC serer
                          asset_domain: myDC.com
                          asset_compromise_status_id: 1
                          asset_ip: 10.10.10.1
                          asset_type_id: 11
                          analysis_status: Started
                          analysis_status_id: 3
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 83
                          asset_uuid: 7fb6eec5-ebef-4abd-ab31-4b31b96266f5
                          asset_name: MV-422
                          asset_type: Windows - Server
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: Maquina de pruebas
                          asset_domain: ''
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 10
                          analysis_status: To be done
                          analysis_status_id: 2
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 3857
                          asset_uuid: 763d9ac5-b858-40b6-b6eb-5b905402d0c3
                          asset_name: Super Dadmin
                          asset_type: Account
                          asset_icon_compromised: ioc_user.png
                          asset_icon_not_compromised: user.png
                          asset_description: ''
                          asset_domain: ''
                          asset_compromise_status_id: 1
                          asset_ip: ''
                          asset_type_id: 1
                          analysis_status: Done
                          analysis_status_id: 6
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 75
                          asset_uuid: 50899fe4-5ef6-420d-aef6-55fe6febf6f5
                          asset_name: aaa
                          asset_type: Switch
                          asset_icon_compromised: ioc_switch.png
                          asset_icon_not_compromised: switch.png
                          asset_description: asdfdfgsdfg
                          asset_domain: sdfgh
                          asset_compromise_status_id: 0
                          asset_ip: '435445'
                          asset_type_id: 13
                          analysis_status: Started
                          analysis_status_id: 3
                          asset_tags: '455,type'
                          link: []
                          ioc_links: null
                        - asset_id: 2548
                          asset_uuid: 9d188714-5251-41f3-817b-3b1c8515de06
                          asset_name: WAF-301
                          asset_type: WAF
                          asset_icon_compromised: ioc_firewall.png
                          asset_icon_not_compromised: firewall.png
                          asset_description: Asset description
                          asset_domain: ''
                          asset_compromise_status_id: 2
                          asset_ip: 1.1.1.1
                          asset_type_id: 15
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: 'tag1,tag2'
                          link: []
                          ioc_links:
                            - ioc_id: 1135
                              ioc_value: aunnrzg.co.uk
                              asset_id: 2548
                            - ioc_id: 349
                              ioc_value: ufrsmrdxlqq.org
                              asset_id: 2548
                        - asset_id: 2547
                          asset_uuid: e72f8566-3437-4693-b5e7-e41122c93a4e
                          asset_name: Account-244
                          asset_type: Account
                          asset_icon_compromised: ioc_user.png
                          asset_icon_not_compromised: user.png
                          asset_description: Asset description
                          asset_domain: ''
                          asset_compromise_status_id: null
                          asset_ip: 1.1.1.1
                          asset_type_id: 1
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: 'tag1,tag2'
                          link: []
                          ioc_links:
                            - ioc_id: 1135
                              ioc_value: aunnrzg.co.uk
                              asset_id: 2547
                            - ioc_id: 349
                              ioc_value: ufrsmrdxlqq.org
                              asset_id: 2547
                        - asset_id: 3906
                          asset_uuid: 6a6cb41a-024f-4af6-a8b8-d75ef2c97728
                          asset_name: waf protecting middle earth from nasty goblins
                          asset_type: WAF
                          asset_icon_compromised: ioc_firewall.png
                          asset_icon_not_compromised: firewall.png
                          asset_description: ''
                          asset_domain: fortheshire.com
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 15
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 2430
                          asset_uuid: 07b9310a-887e-4277-b8a8-61c78cae05ec
                          asset_name: Linux - Server-1240
                          asset_type: Linux - Server
                          asset_icon_compromised: ioc_server.png
                          asset_icon_not_compromised: server.png
                          asset_description: Asset description
                          asset_domain: ''
                          asset_compromise_status_id: null
                          asset_ip: 1.1.1.1
                          asset_type_id: 3
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: 'tag1,tag2'
                          link: []
                          ioc_links:
                            - ioc_id: 407
                              ioc_value: ec3e51e46aae
                              asset_id: 2430
                            - ioc_id: 788
                              ioc_value: bsaoln.gov
                              asset_id: 2430
                        - asset_id: 3748
                          asset_uuid: 765f6970-bd9c-41e8-af6b-b050c30c4c7a
                          asset_name: DC02
                          asset_type: Windows - DC
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: Das sind DC
                          asset_domain: NORTH
                          asset_compromise_status_id: 1
                          asset_ip: ''
                          asset_type_id: 11
                          analysis_status: To be done
                          analysis_status_id: 2
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 3641
                          asset_uuid: 5f99e1ab-bc09-4a0b-b344-6279862c55cc
                          asset_name: DC02
                          asset_type: Windows - DC
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: adadsasd
                          asset_domain: nevele
                          asset_compromise_status_id: 0
                          asset_ip: '123'
                          asset_type_id: 11
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: ''
                          link: []
                          ioc_links: null
                      state:
                        object_state: 56
                        object_last_update: '2024-01-04T15:52:02.088544'
              examples:
                example-1:
                  value:
                    status: success
                    message: ''
                    data:
                      assets:
                        - asset_id: 57
                          asset_uuid: c6598fd0-836a-4fc4-87c1-6f03348eadeb
                          asset_name: FILESERVER1231
                          asset_type: Windows - Server
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: ''
                          asset_domain: ''
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 10
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 79
                          asset_uuid: 0955016b-c1aa-44e1-a5c6-0b538eac7d9f
                          asset_name: Test_DFIR
                          asset_type: Account
                          asset_icon_compromised: ioc_user.png
                          asset_icon_not_compromised: user.png
                          asset_description: ''
                          asset_domain: example.com
                          asset_compromise_status_id: 1
                          asset_ip: 1.1.1.1
                          asset_type_id: 1
                          analysis_status: Started
                          analysis_status_id: 3
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 82
                          asset_uuid: 305c5569-b818-4518-b7cd-cfd07a1033ca
                          asset_name: DC01
                          asset_type: Windows - DC
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: ''
                          asset_domain: domain.local
                          asset_compromise_status_id: 0
                          asset_ip: 10.0.0.8
                          asset_type_id: 11
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: ''
                          link:
                            - case_name: '#583 -  [ALERT] VPN Exploit 1208'
                              case_open_date: '2023-08-28'
                              asset_description: ''
                              asset_compromise_status_id: 2
                              asset_id: 3822
                              case_id: 583
                          ioc_links: null
                        - asset_id: 36
                          asset_uuid: 3b16900a-72a2-46f2-a4e9-880de044c2ad
                          asset_name: User1_FRZ
                          asset_type: Firewall
                          asset_icon_compromised: ioc_firewall.png
                          asset_icon_not_compromised: firewall.png
                          asset_description: ''
                          asset_domain: ''
                          asset_compromise_status_id: 1
                          asset_ip: ''
                          asset_type_id: 2
                          analysis_status: Pending
                          analysis_status_id: 4
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 3723
                          asset_uuid: 82c5f2a8-a050-4c23-9616-f5d6713bcf1e
                          asset_name: DE100
                          asset_type: Router
                          asset_icon_compromised: ioc_router.png
                          asset_icon_not_compromised: router.png
                          asset_description: Deutsh router
                          asset_domain: ''
                          asset_compromise_status_id: 1
                          asset_ip: 1.1.1.1
                          asset_type_id: 12
                          analysis_status: Pending
                          analysis_status_id: 4
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 3777
                          asset_uuid: e43b9a3d-37d6-4034-a5ff-2c5252ca9e33
                          asset_name: user1
                          asset_type: Account
                          asset_icon_compromised: ioc_user.png
                          asset_icon_not_compromised: user.png
                          asset_description: 'user account '
                          asset_domain: ''
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 1
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 3706
                          asset_uuid: 8d04103e-dcfc-40c6-b9d9-f84a77dd823c
                          asset_name: ad v mojej domene
                          asset_type: Windows Account - AD
                          asset_icon_compromised: ioc_user.png
                          asset_icon_not_compromised: user.png
                          asset_description: domenovy dacid c 1
                          asset_domain: pravda.sk
                          asset_compromise_status_id: 3
                          asset_ip: 195.28.85.54
                          asset_type_id: 18
                          analysis_status: Started
                          analysis_status_id: 3
                          asset_tags: pravda.sk
                          link: []
                          ioc_links: null
                        - asset_id: 38
                          asset_uuid: 97eaf383-50d6-4f6f-9649-51dc8560fd41
                          asset_name: EndpointDevice1
                          asset_type: Windows - Computer
                          asset_icon_compromised: ioc_windows_desktop.png
                          asset_icon_not_compromised: windows_desktop.png
                          asset_description: ''
                          asset_domain: ''
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 9
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 47
                          asset_uuid: ba08841b-80c2-4b55-b296-77f27630d55c
                          asset_name: DC01
                          asset_type: Windows - DC
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: |-
                            ![saml.png](/datastore/file/view/3?cid=1 =40%x40%) 

                            <test><script>
                            # Test 
                            Description and analysis of the machine 
                            Some other things to do


                            ## Another test 
                            And again another testing 

                            ### And yet again another test
                            Or something else you wanna do 
                          asset_domain: acme.local
                          asset_compromise_status_id: 1
                          asset_ip: 192.168.0.1
                          asset_type_id: 11
                          analysis_status: To be done
                          analysis_status_id: 2
                          asset_tags: 1.3.4.2
                          link:
                            - case_name: '#583 -  [ALERT] VPN Exploit 1208'
                              case_open_date: '2023-08-28'
                              asset_description: ''
                              asset_compromise_status_id: 2
                              asset_id: 3822
                              case_id: 583
                          ioc_links: null
                        - asset_id: 37
                          asset_uuid: 7a0278a2-618d-461e-921e-7cbc0bad3004
                          asset_name: User2
                          asset_type: Account
                          asset_icon_compromised: ioc_user.png
                          asset_icon_not_compromised: user.png
                          asset_description: ''
                          asset_domain: ''
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 1
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 3749
                          asset_uuid: e4ca3e33-28f0-43f4-8c68-a79949a9fbb0
                          asset_name: DC03
                          asset_type: Windows - DC
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: Das sind DC
                          asset_domain: NORTH
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 11
                          analysis_status: To be done
                          analysis_status_id: 2
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 3750
                          asset_uuid: 34dba357-7983-4eec-8627-30a5f2b48cc4
                          asset_name: DC01
                          asset_type: Windows - DC
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: Das sind DC
                          asset_domain: NORTH
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 11
                          analysis_status: To be done
                          analysis_status_id: 2
                          asset_tags: ''
                          link:
                            - case_name: '#583 -  [ALERT] VPN Exploit 1208'
                              case_open_date: '2023-08-28'
                              asset_description: ''
                              asset_compromise_status_id: 2
                              asset_id: 3822
                              case_id: 583
                          ioc_links: null
                        - asset_id: 2429
                          asset_uuid: 1a9201a9-8d03-44b3-a47a-16c9a780849e
                          asset_name: Phone - IOS-4869
                          asset_type: Phone - IOS
                          asset_icon_compromised: ioc_phone.png
                          asset_icon_not_compromised: phone.png
                          asset_description: Asset description
                          asset_domain: ''
                          asset_compromise_status_id: null
                          asset_ip: 1.1.1.1
                          asset_type_id: 8
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: 'tag1,tag2'
                          link: []
                          ioc_links:
                            - ioc_id: 407
                              ioc_value: ec3e51e46aae
                              asset_id: 2429
                            - ioc_id: 788
                              ioc_value: bsaoln.gov
                              asset_id: 2429
                        - asset_id: 3872
                          asset_uuid: 11925eb0-b205-419f-81cf-fe550a6a6986
                          asset_name: trreeree
                          asset_type: Windows - Computer
                          asset_icon_compromised: ioc_windows_desktop.png
                          asset_icon_not_compromised: windows_desktop.png
                          asset_description: ''
                          asset_domain: ''
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 9
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 3881
                          asset_uuid: 9a911ef8-3f40-4aaa-a6e0-4ea880bf8d49
                          asset_name: DCSERER.com
                          asset_type: Windows - DC
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: thsis is DC serer
                          asset_domain: myDC.com
                          asset_compromise_status_id: 1
                          asset_ip: 10.10.10.1
                          asset_type_id: 11
                          analysis_status: Started
                          analysis_status_id: 3
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 83
                          asset_uuid: 7fb6eec5-ebef-4abd-ab31-4b31b96266f5
                          asset_name: MV-422
                          asset_type: Windows - Server
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: Maquina de pruebas
                          asset_domain: ''
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 10
                          analysis_status: To be done
                          analysis_status_id: 2
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 3857
                          asset_uuid: 763d9ac5-b858-40b6-b6eb-5b905402d0c3
                          asset_name: Super Dadmin
                          asset_type: Account
                          asset_icon_compromised: ioc_user.png
                          asset_icon_not_compromised: user.png
                          asset_description: ''
                          asset_domain: ''
                          asset_compromise_status_id: 1
                          asset_ip: ''
                          asset_type_id: 1
                          analysis_status: Done
                          analysis_status_id: 6
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 75
                          asset_uuid: 50899fe4-5ef6-420d-aef6-55fe6febf6f5
                          asset_name: aaa
                          asset_type: Switch
                          asset_icon_compromised: ioc_switch.png
                          asset_icon_not_compromised: switch.png
                          asset_description: asdfdfgsdfg
                          asset_domain: sdfgh
                          asset_compromise_status_id: 0
                          asset_ip: '435445'
                          asset_type_id: 13
                          analysis_status: Started
                          analysis_status_id: 3
                          asset_tags: '455,type'
                          link: []
                          ioc_links: null
                        - asset_id: 2548
                          asset_uuid: 9d188714-5251-41f3-817b-3b1c8515de06
                          asset_name: WAF-301
                          asset_type: WAF
                          asset_icon_compromised: ioc_firewall.png
                          asset_icon_not_compromised: firewall.png
                          asset_description: Asset description
                          asset_domain: ''
                          asset_compromise_status_id: 2
                          asset_ip: 1.1.1.1
                          asset_type_id: 15
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: 'tag1,tag2'
                          link: []
                          ioc_links:
                            - ioc_id: 1135
                              ioc_value: aunnrzg.co.uk
                              asset_id: 2548
                            - ioc_id: 349
                              ioc_value: ufrsmrdxlqq.org
                              asset_id: 2548
                        - asset_id: 2547
                          asset_uuid: e72f8566-3437-4693-b5e7-e41122c93a4e
                          asset_name: Account-244
                          asset_type: Account
                          asset_icon_compromised: ioc_user.png
                          asset_icon_not_compromised: user.png
                          asset_description: Asset description
                          asset_domain: ''
                          asset_compromise_status_id: null
                          asset_ip: 1.1.1.1
                          asset_type_id: 1
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: 'tag1,tag2'
                          link: []
                          ioc_links:
                            - ioc_id: 1135
                              ioc_value: aunnrzg.co.uk
                              asset_id: 2547
                            - ioc_id: 349
                              ioc_value: ufrsmrdxlqq.org
                              asset_id: 2547
                        - asset_id: 3906
                          asset_uuid: 6a6cb41a-024f-4af6-a8b8-d75ef2c97728
                          asset_name: waf protecting middle earth from nasty goblins
                          asset_type: WAF
                          asset_icon_compromised: ioc_firewall.png
                          asset_icon_not_compromised: firewall.png
                          asset_description: ''
                          asset_domain: fortheshire.com
                          asset_compromise_status_id: 0
                          asset_ip: ''
                          asset_type_id: 15
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 2430
                          asset_uuid: 07b9310a-887e-4277-b8a8-61c78cae05ec
                          asset_name: Linux - Server-1240
                          asset_type: Linux - Server
                          asset_icon_compromised: ioc_server.png
                          asset_icon_not_compromised: server.png
                          asset_description: Asset description
                          asset_domain: ''
                          asset_compromise_status_id: null
                          asset_ip: 1.1.1.1
                          asset_type_id: 3
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: 'tag1,tag2'
                          link: []
                          ioc_links:
                            - ioc_id: 407
                              ioc_value: ec3e51e46aae
                              asset_id: 2430
                            - ioc_id: 788
                              ioc_value: bsaoln.gov
                              asset_id: 2430
                        - asset_id: 3748
                          asset_uuid: 765f6970-bd9c-41e8-af6b-b050c30c4c7a
                          asset_name: DC02
                          asset_type: Windows - DC
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: Das sind DC
                          asset_domain: NORTH
                          asset_compromise_status_id: 1
                          asset_ip: ''
                          asset_type_id: 11
                          analysis_status: To be done
                          analysis_status_id: 2
                          asset_tags: ''
                          link: []
                          ioc_links: null
                        - asset_id: 3641
                          asset_uuid: 5f99e1ab-bc09-4a0b-b344-6279862c55cc
                          asset_name: DC02
                          asset_type: Windows - DC
                          asset_icon_compromised: ioc_windows_server.png
                          asset_icon_not_compromised: windows_server.png
                          asset_description: adadsasd
                          asset_domain: nevele
                          asset_compromise_status_id: 0
                          asset_ip: '123'
                          asset_type_id: 11
                          analysis_status: Unspecified
                          analysis_status_id: 1
                          asset_tags: ''
                          link: []
                          ioc_links: null
                      state:
                        object_state: 56
                        object_last_update: '2024-01-04T15:52:02.088544'
      operationId: get-case-get-assets-list
      description: 'Get a list of the assets linked to the case. '
      security:
        - Bearer <bearer>: []
      parameters:
        - schema:
            type: integer
          in: query
          name: cid
          description: Case ID
          required: true
      tags:
        - Case assets
    parameters: []
  '/case/assets/{asset_id}':
    get:
      summary: Fetch an asset
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      asset_enrichment:
                        type: object
                        properties:
                          Another enrichment provider:
                            type: object
                            properties:
                              Another key:
                                type: string
                      asset_type:
                        type: object
                        properties:
                          asset_icon_not_compromised:
                            type: string
                          asset_icon_compromised:
                            type: string
                          asset_description:
                            type: string
                          asset_id:
                            type: integer
                          asset_name:
                            type: string
                      asset_type_id:
                        type: integer
                      case_id:
                        type: integer
                      asset_description:
                        type: string
                      asset_id:
                        type: integer
                      analysis_status_id:
                        type: integer
                      custom_attributes:
                        type: object
                        properties:
                          Analysis:
                            type: object
                            properties:
                              Has been analyzed:
                                type: object
                                properties:
                                  type:
                                    type: string
                                  mandatory:
                                    type: boolean
                                  value:
                                    type: boolean
                              Analysis note:
                                type: object
                                properties:
                                  type:
                                    type: string
                                  mandatory:
                                    type: boolean
                                  value:
                                    type: string
                          KAPE Status:
                            type: object
                            properties:
                              Collected:
                                type: object
                                properties:
                                  type:
                                    type: string
                                  mandatory:
                                    type: boolean
                                  value:
                                    type: boolean
                              Analyzed:
                                type: object
                                properties:
                                  type:
                                    type: string
                                  mandatory:
                                    type: boolean
                                  value:
                                    type: boolean
                      asset_info:
                        type: string
                      user_id:
                        type: integer
                      date_added:
                        type: string
                      date_update:
                        type: string
                      asset_name:
                        type: string
                      asset_ip:
                        type: string
                      asset_tags:
                        type: string
                      asset_compromise_status_id:
                        type: integer
                      asset_uuid:
                        type: string
                      asset_domain:
                        type: string
                      linked_ioc:
                        type: array
                        items:
                          type: object
                          properties:
                            ioc_id:
                              type: integer
                            ioc_value:
                              type: string
                            ioc_tags:
                              type: string
                            ioc_type_id:
                              type: integer
                            type_name:
                              type: string
                            ioc_description:
                              type: string
                            ioc_tlp_id:
                              type: integer
                x-examples:
                  Example 1:
                    status: success
                    message: ''
                    data:
                      asset_enrichment:
                        Another enrichment provider:
                          Another key: Another value
                      asset_type:
                        asset_icon_not_compromised: firewall.png
                        asset_icon_compromised: ioc_firewall.png
                        asset_description: WAF
                        asset_id: 15
                        asset_name: WAF
                      asset_type_id: 15
                      case_id: 1
                      asset_description: Asset description
                      asset_id: 2548
                      analysis_status_id: 1
                      custom_attributes:
                        Analysis:
                          Has been analyzed:
                            type: input_checkbox
                            mandatory: false
                            value: false
                          Analysis note:
                            type: input_textfield
                            mandatory: false
                            value: ''
                        KAPE Status:
                          Collected:
                            type: input_checkbox
                            mandatory: false
                            value: false
                          Analyzed:
                            type: input_checkbox
                            mandatory: false
                            value: false
                      asset_info: ''
                      user_id: 4
                      date_added: '2024-01-04T13:20:43.522581'
                      date_update: '2024-01-04T13:20:43.522598'
                      asset_name: WAF-301
                      asset_ip: 1.1.1.1
                      asset_tags: 'tag1,tag2'
                      asset_compromise_status_id: 2
                      asset_uuid: 9d188714-5251-41f3-817b-3b1c8515de06
                      asset_domain: ''
                      linked_ioc:
                        - ioc_id: 1135
                          ioc_value: aunnrzg.co.uk
                          ioc_tags: 'tag1,tag2'
                          ioc_type_id: 22
                          type_name: email
                          ioc_description: description_hey
                          ioc_tlp_id: 2
                        - ioc_id: 349
                          ioc_value: ufrsmrdxlqq.org
                          ioc_tags: 'tag1,tag2'
                          ioc_type_id: 22
                          type_name: email
                          ioc_description: description_hey
                          ioc_tlp_id: 2
              examples:
                Example 1:
                  value:
                    status: success
                    message: ''
                    data:
                      asset_enrichment:
                        Another enrichment provider:
                          Another key: Another value
                      asset_type:
                        asset_icon_not_compromised: firewall.png
                        asset_icon_compromised: ioc_firewall.png
                        asset_description: WAF
                        asset_id: 15
                        asset_name: WAF
                      asset_type_id: 15
                      case_id: 1
                      asset_description: Asset description
                      asset_id: 2548
                      analysis_status_id: 1
                      custom_attributes:
                        Analysis:
                          Has been analyzed:
                            type: input_checkbox
                            mandatory: false
                            value: false
                          Analysis note:
                            type: input_textfield
                            mandatory: false
                            value: ''
                        KAPE Status:
                          Collected:
                            type: input_checkbox
                            mandatory: false
                            value: false
                          Analyzed:
                            type: input_checkbox
                            mandatory: false
                            value: false
                      asset_info: ''
                      user_id: 4
                      date_added: '2024-01-04T13:20:43.522581'
                      date_update: '2024-01-04T13:20:43.522598'
                      asset_name: WAF-301
                      asset_ip: 1.1.1.1
                      asset_tags: 'tag1,tag2'
                      asset_compromise_status_id: 2
                      asset_uuid: 9d188714-5251-41f3-817b-3b1c8515de06
                      asset_domain: ''
                      linked_ioc:
                        - ioc_id: 1135
                          ioc_value: aunnrzg.co.uk
                          ioc_tags: 'tag1,tag2'
                          ioc_type_id: 22
                          type_name: email
                          ioc_description: description_hey
                          ioc_tlp_id: 2
                        - ioc_id: 349
                          ioc_value: ufrsmrdxlqq.org
                          ioc_tags: 'tag1,tag2'
                          ioc_type_id: 22
                          type_name: email
                          ioc_description: description_hey
                          ioc_tlp_id: 2
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    data: []
                    message: Invalid asset ID for this case
                    status: error
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      nullable: true
                  message:
                    type: string
                  status:
                    type: string
              examples:
                Example 1:
                  value:
[...]
